{% load static %}

<head>
    <script src='https://kit.fontawesome.com/1b028243f3.js'></script>
    <link rel="stylesheet" href="{% static 'Registration/CSS/login.css' %}">
</head>

<main>
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_p }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</main>
<script src="{% static 'Frontend/JS/home.js' %}"></script>