* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;
}

/* Desktop styling */
@media (min-width: 800px) {
  .phone {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    background: rgb(23, 23, 23);
    text-transform: uppercase;
  }

  .burger {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav a {
    padding: 1.5vw;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    border: solid 0.2vw rgba(0, 0, 0, 0%);
    margin-left: 0.8vw;
    margin-right: 0.8vw;
    color: whitesmoke;
    border-radius: 2px;
    font-size: 1vw;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    text-decoration: none;
  }

  .nav a:hover {
    background: rgba(0, 0, 0, 0.2);
    color: whitesmoke;
    border: solid 0.2vw whitesmoke;
  }

  .nav .currentPage {
    border: solid 0.2vw white;
  }

  header img {
    height: 80px;
  }
}

/* Phone and tablet styling */
@media (max-width: 800px) {
  header {
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .burger {
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  .burger .line {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px;
  }

  .nav {
    border-top: solid 5px white;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    clip-path: circle(50px at 50% -50px);
    -webkit-clip-path: circle(50px at 50% -50px);
    transition: all 1s ease-in-out;
  }

  .nav.open {
    clip-path: circle(950px at 50% -50px);
    -webkit-clip-path: circle(950px at 50% -50px);
    transition: all 1s ease-in-out;
    overflow-y: hidden;
  }

  .nav a {
    font-size: 8vw;
    color: whitesmoke;
    text-decoration: none;
  }

  header img {
    height: 40px;
  }
}
