@media (min-width: 800px) {
    .phone {
        display: none;
    }

    main {
        width: 100%;
    }

    .desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
    }

    .item {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .itemInner {
        position: relative;
        padding: 3%;
        height: 26vw;
        width: 18vw;
        margin-left: 2vw;
        margin-right: 2vw;
        background: whitesmoke;
        border-radius: 2vw;
        box-shadow: 0px 0px 25px 3px #777777;
    }

    .itemInner h1 {
        font-size: 1.5vw;
        text-align: center;
        margin-top: 1.2vw;
        height: 5vw;
    }

    .itemInner img {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .itemInner .price {
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
        margin-left: 10%;
        font-weight: 900;
        font-size: 1.3vw;
    }

    .itemInner p {
        font-size: 0.9vw;
        font-weight: 200;
        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
    }

    .itemInner button {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2.8vw;
        width: 100%;
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
        border: none;
        background: rgb(11, 214, 11);
        color: whitesmoke;
        font-size: 1.2vw;
        font-weight: 200;
        letter-spacing: 0.1vw;
        cursor: pointer;
    }
}