{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'Frontend/CSS/over-mittacutzz.css' %}">
    <title>Over Mij</title>
</head>

<main>
    <img class="img-circle" src="{% static 'Frontend/IMG/eigenfoto.jpg' %}">
    <div class="gradient-border" id="info" >
        <p>Ik ben Mitchell Wehrmann, ik ben 19 jaar en ik ben kort geleden begonnen met knippen.</p>
        <p>Na mijn opleiding als metselaar, maakte ik al snel de keuze gemaakt op kapper te worden.</p>
        <p>Een aantal kappers certifikaten heb ik al op zak, en ook vind ik het erg belangrijk om mezelf te blijven ontwikkellen op dit vakgebied.</p>
    </div>
    <img class="img-certifcate" src="{% static 'Frontend/IMG/Certificaat_1.jpg' %}">
</main>